@import '../../style/_var';

.header {
  background-color: $white;
  color: $blue;
  padding: 4vw;
  position: sticky;
  top: 0;
  right: 0;
  h1 {
    font-size: $text1;
    font-weight: 400;
    text-align: center;
    text-wrap: nowrap;
  }
}
